[submodule "server"]
	path = server
	url = git@github.com:YokoyamaLab/parallel-full-twitter-server.git
[submodule "client"]
	path = client
	url = git@github.com:YokoyamaLab/parallel-full-twitter-client.git
